<div class="container">
  <h3>Choose a test: </h3>
  <ul>
    <li><a routerLink="/directives" routerLinkActive="hidden">Angular Built-in Directives</a></li>
    <li><a routerLink="/templatedrivenform" routerLinkActive="hidden">Angular Template-Driven Form through ngForm</a></li>
    <li><a routerLink="/reactiveform" routerLinkActive="hidden">Angular Reactive Form through FormBuilder</a></li>
    <li><a routerLink="/service" routerLinkActive="hidden">Angular Service with Dependency Injection</a></li>
    <li><a routerLink="/service2" routerLinkActive="hidden">Angular Service 2 with Dependency Injection</a></li>
  </ul>
</div>
