<div class="container">

  <div id="Color1" class="container">
    <label for="Color1">*ngIf</label>
    <div class="red" *ngIf="colorName == 'red'">{{ colorName }}</div>
    <div class="green" *ngIf="colorName == 'green'">{{ colorName }}</div>
    <div class="blue" *ngIf="colorName == 'blue'">{{ colorName }}</div>
    <div
      *ngIf="colorName != 'red' && colorName != 'green' && colorName != 'blue'"
    >
      (Unknown color)
    </div>
  </div>

  <div id="Color2" class="container" [ngSwitch]="colorName">
    <label for="Color2">*ngSwitch, *ngSwitchCase</label>
    <div class="red" *ngSwitchCase="'red'">{{ colorName }}</div>
    <div class="green" *ngSwitchCase="'green'">{{ colorName }}</div>
    <div class="blue" *ngSwitchCase="'blue'">{{ colorName }}</div>
    <div class="gray" *ngSwitchDefault>(Unknown color)</div>
  </div>

  <div id="Color3" class="container">
    <label for="Color3">ngStyle</label>
    <div [ngStyle]="{ color: colorName }">{{ colorName }}</div>
  </div>

  <div id="FontSettings" class="container">
    <div id="fieldSizeToApply">
      <label for="sizeToApply">Font size (in pt) to apply</label><br />
      <input id="sizeToApply" type="number" value="{{ fontSizePt }}" #sizeToApply />
    </div>

    <br>

    <div id="fieldColorToApply">
      <label for="colorToApply">Color to apply</label><br />
      <input id="colorToApply" type="text" name="color" value="{{ colorName }}" #colorToApply />
    </div>

    <br>

    <button class="white" (click)="applyFontSettings(sizeToApply, colorToApply)">Apply font settings</button>

    <br><br>

    <label for="colorToApply">ngStyle</label><br />
    <div [ngStyle]="{ color: colorName, 'font-size.pt': fontSizePt }">Hello, world!</div>

    <br>

    <label for="colorToApply">ngClass</label><br />
    <div [ngClass]="colorToApply.value.toLowerCase()" [ngStyle]="{ 'font-size.pt': fontSizePt }">Hi, world!</div>
  </div>

  <div id="nonBindable" class="container">
    <label for="nonBindableItem">ngNonBindable</label><br />
    <span>{{ message }}</span>
    <span ngNonBindable>&nbsp;&larr; This is what <code>{{ title }}</code> rendered.</span>
  </div>

</div>
